
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    color: #fff
}

/* Navigation-bar ---------------- INICIO */
.nav-bar{
    text-align: center;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    border-bottom:1px solid #cf1e0e;
}

.nav-bar ul li{
    display: inline-block;
    padding: 0px 5px 0px 5px;
}

.nav-bar ul li a{
    text-decoration: none;
    color: #cf1e0e;
}

.nav-bar ul li a:hover{
    color: #fff; /*ANIMAÇAO DO TEXTO*/
}

/* Navigation-bar ---------------- FIM */

/* Summary style ----------------- inicio*/
.summary{
    text-align: center;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.summary h1{
    padding: 15px;
}

.summary ul li a{
    text-decoration: none;
    color: #cf1e0e;
}

.summary ul li a:hover{
    color: #fff; /*ANIMAÇAO DO TEXTO*/
}
/* Summary style ----------------- fim*/
